.QuizList {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 100px;
  flex-grow: 1;
  width: 100%;
  background: linear-gradient(90deg, rgba(147,18,209,1) 0%, rgba(179,58,182,1) 100%);
}

.QuizList h1 {
  color: #fff;
  display: block;
}

.QuizList ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.QuizList li {
  margin-bottom: 10px;
}

.QuizList li a {
  text-decoration: none;
  color: #fff;
}

.QuizList li a:hover {
  text-decoration: none;
  color: rgba(255, 255, 255, .7);
}
